# Generated data files — recreated by running the notebooks
happiness_clean.csv
happiness_forecast_2026.csv
happiness_neural_forecast_2026_2030.csv

# Jupyter
.ipynb_checkpoints/
*/.ipynb_checkpoints/

# Python
__pycache__/
*.py[cod]
*.pyo
.env
.venv/
env/
venv/

# OS
.DS_Store
Thumbs.db
desktop.ini
